# NOTE: this workflow builds Consul binaries on multiple architectures for PRs.
# It is aimed at checking new commits don't introduce any breaking build changes.
name: build-distros

on:
  pull_request:
  push:
    branches:
      - main
      - release/**

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  get-go-version:
    uses: ./.github/workflows/reusable-get-go-version.yml

  check-go-mod:
    needs:
    - get-go-version
    uses: ./.github/workflows/reusable-check-go-mod.yml
    with:
      runs-on: '"ubuntu-latest"'
      repository-name: ${{ github.repository }}
      go-version: ${{ needs.get-go-version.outputs.go-version }}

  build-amd64:
    needs:
    - get-go-version
    - check-go-mod
    env:
      XC_OS: "linux windows"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
    - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
      with:
        go-version: ${{ needs.get-go-version.outputs.go-version }}
    - name: Build
      run: |
        for os in $XC_OS; do
          GOOS="$os" GOARCH=amd64 CGO_ENABLED=0 go build
        done

  build-arm64:
    needs:
    - get-go-version
    - check-go-mod
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
    - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
      with:
        go-version: ${{ needs.get-go-version.outputs.go-version }}
    - name: Build
      run: |
        GOOS=linux GOARCH=arm64 CGO_ENABLED=0 go build

  build-distros-success:
    needs:
    - check-go-mod
    - build-amd64
    - build-arm64
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: evaluate upstream job results
        run: |
          # exit 1 if failure or cancelled result for any upstream job
          if printf '${{ toJSON(needs) }}' | grep -E -i '\"result\": \"(failure|cancelled)\"'; then
            printf "Tests failed or workflow cancelled:\n\n${{ toJSON(needs) }}"
            exit 1
          fi
