name: go-tests

on:
  pull_request:
    branches-ignore:
      - stable-website
      - 'docs/**'
      - 'ui/**'
      - 'mktg-**'
      - 'backport/docs/**'
      - 'backport/ui/**'
      - 'backport/mktg-**'
  push:
    branches:
      - main
      - release/**

permissions:
  contents: read

env:
  TEST_RESULTS: /tmp/test-results

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  get-go-version:
    uses: ./.github/workflows/reusable-get-go-version.yml

  check-go-mod:
    needs:
    - get-go-version
    uses: ./.github/workflows/reusable-check-go-mod.yml
    with:
      runs-on: '"ubuntu-latest"'
      repository-name: ${{ github.repository }}
      go-version: ${{ needs.get-go-version.outputs.go-version }}

  check-generated-protobuf:
    needs:
    - get-go-version
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
    - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
      with:
        go-version: ${{ needs.get-go-version.outputs.go-version }}
    - run: make proto-tools
      name: Install protobuf
    - run: make proto-format
      name: "Protobuf Format"
    - run: make --always-make proto
    - run: |
            if ! git diff --exit-code; then
              echo "Generated code was not updated correctly"
              exit 1
            fi
    - run: make proto-lint
      name: "Protobuf Lint"

  check-codegen:
     needs:
     - get-go-version
     runs-on: ubuntu-latest
     steps:
     - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
     - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
       with:
         go-version: ${{ needs.get-go-version.outputs.go-version }}
     - run: make --always-make codegen
     - run: |
         if ! git diff --exit-code; then
           echo "Generated code was not updated correctly"
           exit 1
         fi

  lint-enums:
    needs:
    - get-go-version
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
    - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
      with:
        go-version: ${{ needs.get-go-version.outputs.go-version }}
    - run: go install github.com/reillywatson/enumcover/cmd/enumcover@master && enumcover ./...

  lint-container-test-deps:
    needs:
    - get-go-version
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
    - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
      with:
        go-version: ${{ needs.get-go-version.outputs.go-version }}
    - run: make lint-container-test-deps

  lint-consul-retry:
    needs:
    - get-go-version
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
    - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
      with:
        go-version: ${{ needs.get-go-version.outputs.go-version }}
    - run: make lint-consul-retry

  lint:
    needs:
    - get-go-version
    uses: ./.github/workflows/reusable-lint.yml
    with:
      runs-on: '"ubuntu-latest"'
      repository-name: ${{ github.repository }}
      go-version: ${{ needs.get-go-version.outputs.go-version }}

  dev-build:
    needs:
    - get-go-version
    uses: ./.github/workflows/reusable-dev-build.yml
    with:
      runs-on: '"ubuntu-latest"'
      repository-name: ${{ github.repository }}
      go-version: ${{ needs.get-go-version.outputs.go-version }}

  go-test-race:
    needs:
    - get-go-version
    - dev-build
    uses: ./.github/workflows/reusable-unit.yml
    with:
      directory: .
      go-test-flags: "-race -gcflags=all=-d=checkptr=0"
      package-names-command: "go list ./... | grep -E -v '^github.com/hashicorp/consul/agent(/consul|/local|/routine-leak-checker)?$' | grep -E -v '^github.com/hashicorp/consul(/command|/connect|/snapshot)'"
      runs-on: '"ubuntu-latest"'
      repository-name: ${{ github.repository }}
      go-version: ${{ needs.get-go-version.outputs.go-version }}

  go-test-envoyextensions:
    needs:
    - get-go-version
    - dev-build
    uses: ./.github/workflows/reusable-unit.yml
    with:
      directory: envoyextensions
      runs-on: '"ubuntu-latest"'
      repository-name: ${{ github.repository }}
      go-version: ${{ needs.get-go-version.outputs.go-version }}

  go-test-troubleshoot:
    needs:
    - get-go-version
    - dev-build
    uses: ./.github/workflows/reusable-unit.yml
    with:
      directory: troubleshoot
      runs-on: '"ubuntu-latest"'
      repository-name: ${{ github.repository }}
      go-version: ${{ needs.get-go-version.outputs.go-version }}

  go-test-api-backwards-compatibility:
    name: go-test-api-${{ needs.get-go-version.outputs.go-version-previous }}
    needs:
    - get-go-version
    - dev-build
    uses: ./.github/workflows/reusable-unit.yml
    with:
      directory: api
      runs-on: '"ubuntu-latest"'
      repository-name: ${{ github.repository }}
      go-version: ${{ needs.get-go-version.outputs.go-version-previous }}

  go-test-api:
    needs:
    - get-go-version
    - dev-build
    uses: ./.github/workflows/reusable-unit.yml
    with:
      directory: api
      runs-on: '"ubuntu-latest"'
      repository-name: ${{ github.repository }}
      go-version: ${{ needs.get-go-version.outputs.go-version }}

  go-test-sdk-backwards-compatibility:
    name: go-test-sdk-${{ needs.get-go-version.outputs.go-version-previous }}
    needs:
    - get-go-version
    - dev-build
    uses: ./.github/workflows/reusable-unit.yml
    with:
      directory: sdk
      runs-on: '"ubuntu-latest"'
      repository-name: ${{ github.repository }}
      go-version: ${{ needs.get-go-version.outputs.go-version-previous }}

  go-test-sdk:
    needs:
    - get-go-version
    - dev-build
    uses: ./.github/workflows/reusable-unit.yml
    with:
      directory: sdk
      runs-on: '"ubuntu-latest"'
      repository-name: ${{ github.repository }}
      go-version: ${{ needs.get-go-version.outputs.go-version }}

  go-tests-success:
    needs:
    - check-codegen
    - check-generated-protobuf
    - check-go-mod
    - lint-consul-retry
    - lint-container-test-deps
    - lint-enums
    - lint
    - go-test-race
    - go-test-envoyextensions
    - go-test-troubleshoot
    - go-test-api-backwards-compatibility
    - go-test-api
    - go-test-sdk-backwards-compatibility
    - go-test-sdk
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: evaluate upstream job results
        run: |
          # exit 1 if failure or cancelled result for any upstream job
          if printf '${{ toJSON(needs) }}' | grep -E -i '\"result\": \"(failure|cancelled)\"'; then
            printf "Tests failed or workflow cancelled:\n\n${{ toJSON(needs) }}"
            exit 1
          fi
