name: reusable-lint

on:
  workflow_call:
    inputs:
      go-arch:
        required: false
        type: string
        default: ""
      go-version:
        required: true
        type: string
      runs-on:
        description: An expression indicating which kind of runners to use.
        required: true
        type: string
      repository-name:
        required: true
        type: string

env:
  GOARCH: ${{inputs.go-arch}}

jobs:
  lint:
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    strategy:
      matrix:
        directory: 
        - ""
        - "api"
        - "sdk"
        - "envoyextensions"
        - "troubleshoot"
        - "test/integration/consul-container"
        - "test-integ"
        - "testing/deployer"
      fail-fast: true
    name: lint ${{ matrix.directory }}
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: ${{ inputs.go-version }}
      - run: go env
      - name: Set golangci-lint version
        run: echo "GOLANGCI_LINT_VERSION=$(make --no-print-directory print-GOLANGCI_LINT_VERSION)" >> $GITHUB_ENV
      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v${{ env.GOLANGCI_LINT_VERSION }}
      - name: lint-${{ matrix.directory }}
        working-directory: ${{ matrix.directory || '.' }}
        run: |
          $(go env GOPATH)/bin/golangci-lint run -v
