name: reusable-dev-build

on:
  workflow_call:
    inputs:
      uploaded-binary-name:
        required: false
        type: string
        default: "consul-bin"
      runs-on:
        description: An expression indicating which kind of runners to use.
        required: true
        type: string
      repository-name:
        required: true
        type: string
      branch-name:
          required: false
          type: string
          default: ""
      go-arch:
        required: false
        type: string
        default: ""
      go-version:
        required: true
        type: string

jobs:
  build:
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    steps:
      - name: Checkout branch ${{ inputs.branch-name }}
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          ref: ${{ inputs.branch-name }}
        if: inputs.branch-name != ''
      - name: Checkout code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        if: inputs.branch-name == ''
      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: ${{ inputs.go-version }}
      - name: Build
        env:
          GOARCH: ${{ inputs.goarch }}
        run: make dev
      - uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: ${{inputs.uploaded-binary-name}}
          path: ./bin/consul
